*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3125rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 900;
    line-height: 1;
}

h2,
h3,
p {
    margin-bottom: 1em;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(orange, orangered);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* img {
   display: block;
   max-width: 80%;
} */

.text-center {
    text-align: center;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

/* .img-container {
   width: 90vw;
} */

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}

section {
    padding: 4rem 0;
}

button {
    background: -webkit-linear-gradient(45deg, orange, orangered);
    padding: 1rem 3rem;
    text-transform: uppercase;
    border: none !important;
    outline: none !important;
    border-radius: 1rem;
}

button:hover {
    background: -webkit-linear-gradient(45deg, orangered, orange);
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}
