.scroll-button {
   position: fixed;
   margin-right: auto;
   left: 50%;
   bottom: 40px;
   font-size: 3rem;
   z-index: 1;
   cursor: pointer;
   color: green;
   border-radius: 1rem;
   background: #7700ff70;
   padding: 1rem;
}
