.profile-container {
  > div {
    display: flex;
    justify-content: center;

    border: double 10px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white),
      linear-gradient(to right, green, gold);
    background-origin: border-box;
    background-clip: content-box, border-box;

    > div {
      padding: 2rem;

      > img {
        border-radius: 50%;
      }

      > h3 > span,
      h5 > span {
        color: orangered;
      }
    }
  }
}
