.cardOne,
.cardTwo,
.cardThree {
    margin: 1rem 1rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 0 2rem 0 2rem;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 1s;

    &:hover {
        border-radius: 8rem 0 3rem 0;
        transform: scale(1.1);
        color: orangered;
        box-shadow: 2px 5px 5px lightblue;
    }
}

.cardOne {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://i.ibb.co/jfxLnGv/card-One-Bg.jpg");
}

.cardTwo {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://i.ibb.co/Dzw4GmR/card-Two-Bg.jpg");
}

.cardThree {
    background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("https://i.ibb.co/9n48GdY/card-Three-Bg.jpg");
}
