.inner-container-one:nth-child(1),
.inner-container-one:nth-child(2),
.inner-container-one:nth-child(3),
.inner-container-two:nth-child(1),
.inner-container-two:nth-child(2),
.inner-container-two:nth-child(3) {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    display: block;
  }

  &:hover {
    opacity: 0.8;

    &:before {
      top: 80%;
      transition: all 1s;
      transform: rotate(360deg) scale(1.3);
    }
  }

  &:before {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    position: absolute;
    bottom: -10%;
    left: 13%;
    height: 15%;
    width: 75%;
    background: orange;
    z-index: 999;
  }
}

.inner-container-one:nth-child(1):before {
  content: "weight training";
}

.inner-container-one:nth-child(2):before {
  content: "fartlek training";
}

.inner-container-one:nth-child(3):before {
  content: "circuit training";
}

.inner-container-two:nth-child(1):before {
  content: "intervel training";
}

.inner-container-two:nth-child(2):before {
  content: "plyometric training";
}

.inner-container-two:nth-child(3):before {
  content: "flexibility training";
}

@media screen and (max-width: 647px) {
  .inner-container-one:nth-child(1),
  .inner-container-one:nth-child(2),
  .inner-container-one:nth-child(3),
  .inner-container-two:nth-child(1),
  .inner-container-two:nth-child(2),
  .inner-container-two:nth-child(3) {
    & {
      padding: 0.8rem 0;
    }

    img {
      height: 30rem;
    }

    &:before {
      font-size: 2rem !important;
      line-height: 5rem !important;
      // height: 15%;
      bottom: -3%;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .inner-container-one:nth-child(1),
  .inner-container-one:nth-child(2),
  .inner-container-one:nth-child(3),
  .inner-container-two:nth-child(1),
  .inner-container-two:nth-child(2),
  .inner-container-two:nth-child(3) {
    &:before {
      font-size: 0.3rem;
      line-height: 2.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .inner-container-one:nth-child(1),
  .inner-container-one:nth-child(2),
  .inner-container-one:nth-child(3),
  .inner-container-two:nth-child(1),
  .inner-container-two:nth-child(2),
  .inner-container-two:nth-child(3) {
    &:before {
      font-size: 0.8rem !important;
      line-height: 3rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .inner-container-one:nth-child(1),
  .inner-container-one:nth-child(2),
  .inner-container-one:nth-child(3),
  .inner-container-two:nth-child(1),
  .inner-container-two:nth-child(2),
  .inner-container-two:nth-child(3) {
    &:before {
      font-size: 1rem;
      // line-height: 3rem;
    }
  }
}
