@mixin text-orange {
    color: orange;
}

.purchase-plans {
    > div {
        text-align: center;
        color: #fff;
        border: 1px solid lightblue;
        border-radius: 1rem;
        margin: 1.5rem;
        padding: 1rem;
        cursor: pointer;

        h1 {
            @include text-orange();
        }

        h3 {
            text-transform: uppercase;
        }

        h4 {
            text-transform: capitalize;
            @include text-orange();
        }

        h5 {
            border-bottom: 5px solid orange;
            display: inline-block;
            width: 50%;
            margin: auto;
        }

        h6 {
            text-align: left;
            margin-top: 1rem;
            color: rgba(255, 255, 255, 0.8);
        }

        button {
            visibility: hidden;
        }

        &:hover {
            border: 5px solid orange;

            button {
                visibility: visible;
            }
        }
    }

    .card-one {
        background-image: linear-gradient(
                45deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("https://i.ibb.co/jfxLnGv/card-One-Bg.jpg");
    }

    .card-two {
        background-image: linear-gradient(
                45deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("https://i.ibb.co/XJcmkcg/scott-webb-22437-unsplash.png");
    }

    .card-three {
        background-image: linear-gradient(
                45deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("https://i.ibb.co/9n48GdY/card-Three-Bg.jpg");
    }

    .card-one,
    .card-two,
    .card-three {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
