.menu-icon {
  display: none;
}

.menu-appbar {
  background-color: #000;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none !important;
  }

  .menu-icon {
    display: block;
  }
}
