@mixin text-capitalize {
   text-transform: capitalize;
}

.details {
   img {
      width: 100%;
   }

   h6 {
      @include text-capitalize();
   }
}

.class-schedule {
   > div > div {
      border: 2px solid lightgreen;
      border-radius: 1rem;
      margin: 0 1rem;
      padding: 1rem;
      text-align: center;
      color: #fff;
      @include text-capitalize;
      cursor: pointer;
      box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.4);
      background: #000;
      transform-origin: center center 0;
      transition: all 0.5s ease-out;
      animation-name: animate;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      transform: perspective(1000px) rotateX(35deg) rotateY(4deg)
         rotateZ(-30deg);
      z-index: 1;

      &:hover {
         border: 10px solid orangered;
         animation: unset;
         margin-top: 18vh;
         transform: perspective(1000px) rotateX(0deg) rotateY(0deg)
            rotateZ(0deg);
      }

      > div {
         max-width: 100%;
         height: 100%;

         h4 {
            color: orange;
         }
      }

      @-moz-keyframes animate {
         0% {
            margin-top: 20vh;
         }
         50% {
            margin-top: 18vh;
         }
         100% {
            margin-top: 20vh;
         }
      }

      @-webkit-keyframes animate {
         0% {
            margin-top: 20vh;
         }
         50% {
            margin-top: 18vh;
         }
         100% {
            margin-top: 20vh;
         }
      }

      @-o-keyframes animate {
         0% {
            margin-top: 20vh;
         }
         50% {
            margin-top: 18vh;
         }
         100% {
            margin-top: 20vh;
         }
      }

      @keyframes animate {
         0% {
            margin-top: 20vh;
         }
         50% {
            margin-top: 18vh;
         }
         100% {
            margin-top: 20vh;
         }
      }
   }
}
